$primary-color: #3B71FE;
$black-color: #141416;
$gray-6: #F4F5F6;
$gray-3: #777E90;
$gray-2: #353945;
$gray-4: #4F4F4F;
$gray-5: #23262F;
$background-color: #FFF;
$font-size-default: 14px;
$gray-7: #F4F5F9;

:root{
    --primary-color: #3B71FE;
    --black-color: #141416;
    --gray-6: #F4F5F6;
    --gray-3: #777E90;
    --gray-2: #353945;
    --gray-4: #4F4F4F;
    --gray-5: #23262F;
    --background-color: #FFF;
    --font-size-default: 14px;
    --primary-font: "Inter", sans-serif;
    --secondary-font: "DM Sans", sans-serif; 
}