.heading{
    color: var(--black-color);
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 1.5;
    text-align: center;
    &::first-letter{
        
    }
}