*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select{
    outline: none;
    font: inherit;
    border: none;
    background-color: none;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}
