section.diamond  
    .container  
        h2.heading Hidden gems in Bangkok 
        .diamond-list 
            each val in[1,2,3,4]
                .diamond-item 
                    .diamond-image 
                        img(src="https://images.unsplash.com/flagged/photo-1559717865-a99cac1c95d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTd8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60", alt="")
                        .diamond-content    
                            h3.diamond-title Bangkok Trip    
        a.button.diamond-all(href="#") View all 