section.tour 
    .container 
        h2.heading Top Bangkok Tours
        .tour-list 
            +tourItem("https://images.unsplash.com/photo-1687778682351-99d1e0f8f1c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60","From $40","Thailands Ayutthaya Temples Cruise from Bangkok",4.8, 20,"9 hours",55)
            +tourItem("https://images.unsplash.com/photo-1687778682351-99d1e0f8f1c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60","From $40","FLoating Markets Day Trip from Bangkok",4.8,20,"9 hours",55)
            +tourItem("https://images.unsplash.com/photo-1687778682351-99d1e0f8f1c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60","From $40","Bangkok Dinner Cruise on the Chao Phraya River",4.8,20,"9 hours",55)
            